.App {
  font-family: var(--primary-font-family);
  width: 100%;
}

.container {
  padding: 0;
  margin: 0;
}

.App .banner, header, main, footer {
  width: 100vw;
}

header {
  background-color: #FFFFFF;
}