.App {
  font-family: var(--primary-font-family);
  width: 100%;
}

.container {
  padding: 0;
  margin: 0;
}

.App .banner, header, main, footer {
  width: 100vw;
}

.section-padding {
  padding: 0 80px;
}

.banner {
  background-color: #f7f7f7;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
}

.banner h1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  margin: 0;
}

.banner span {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
}

.banner span img {
  aspect-ratio: auto 53 / 30;
  border-radius: 5px;
  margin-right: 16px;
}

.banner span .divider {
  border-left: 1px solid #dddddd;
  height: 30px;
  margin: 0 16px;
}

.banner div:hover {
  text-decoration: underline;
}

header {
  background-color: #FFFFFF;
}

header .navbar {
  border: 1px solid #dddddd;
  height: 80px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo svg {
  fill: #ff395b;
}

.search-bar {
  width: 400px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 24px;
}

.search-buttons {
  box-shadow: 0 1px 2px rgba(0,0,0,0.08), 0 4px 12px rgba(0,0,0,0.05);
  transition: box-shadow 0.2s ease-in-out;
  border: 1px solid #dddddd;
  border-radius: 40px;
  padding: 6px 8px;
  display: flex;
  align-items: center;
}

.search-buttons:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 6px 16px rgba(0, 0, 0, 0.08);
}

.search-buttons div {
  padding: 0 16px;
  font-size: 14px;
  line-height: 20px;
}

.search-buttons div:first-child {
  padding-left: 9px 0;
}

.search-buttons .add-guests {
  color: rgb(113, 113, 113);
  font-weight: 400;
}

.search-buttons .anywhere, .any-week {
  font-weight: 800;
}

.search-buttons div:not(:first-child):not(:last-child) {
  border-left: 1px solid rgb(221, 221, 221);
}

.search-buttons .button {
  background-color: #ff395b;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-buttons .button .search-icon {
  height: 12px;
  width: 12px;
  display: block;
  margin: auto;
  color: #f7f7f7;
}

.menu-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.menu-bar .airbnb-your-home {
  line-height: 18px;
  font-size: 14px;
  width: 182px;
  height: 42px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin-right: 8px;
}

.menu-bar .airbnb-your-home .text {
  width: 142px;
  margin: 0;
  padding: 12px;
  border-radius: 22px;
  text-align: center;
}
.menu-bar .airbnb-your-home .text:hover {
  background-color: #F7F7F7;
  transition: color 250ms ease-in-out;
}

.menu-bar .airbnb-your-home .world-icon {
  padding: 12px;
  border-radius: 22px;
  height: 42px;
  width: 40px;
}

.menu-bar .airbnb-your-home .world-icon:hover {
  background-color: #F7F7F7;
  transition: color 250ms ease-in-out;
}

.menu-bar .menu {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 21px;
  width: 77px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  column-gap: 12px;
  padding: 5px 5px 5px 12px;
}

.menu-bar .menu:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 6px 16px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.2s ease-in-out;
}

.menu-icon {
  vertical-align: middle;
  width: 16px;
  height: 16px;
  color: var(--primary-font-color);
  text-align: center;
}

main {
  height: 2000px;
  margin-top: 24px;
}

main .listing-card {
  position: relative;
  width: 307px;
  height: 292px;
  border-radius: 12px;
  margin-bottom: 40px;
  font-size: 15px;
  line-height: 19px;
}

main .listing-card .listing-image {
  border-radius: 12px;
  object-fit: cover;
  margin-bottom: 12px;
}

main .listing-card .heart-button {
  fill: rgba(0, 0, 0, 0.5);
  height: 24px;
  width: 24px;
  stroke: rgb(255, 255, 255);
  stroke-width: 2px;
  position: absolute;
  top: 11px;
  left: 270px;
  z-index: 1;
}

main .listing-card .listing-info {
  width: 100%;
  
}
main .listing-card .listing-info > * {
  margin-bottom: 2px;
}

main .listing-card .listing-info .listing-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .listing-card .listing-info .listing-title .listing-location {
  font-weight: 600;
}

main .listing-card .listing-info .listing-title .listing-stars {
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

main .listing-card .listing-info .listing-distance, .listing-dates {
  color:rgb(113, 113, 113)
}

main .listing-card .listing-info .listing-price {
  margin-top: 8px;
  text-decoration: underline;
}