.App {
  font-family: var(--primary-font-family);
  width: 100%;
}

.container {
  padding: 0;
  margin: 0;
}

.App header {
  width: 100vw;
}

.section-padding {
  padding: 0 80px;
}

.banner {
  background-color: #f7f7f7;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
}

.banner h1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
}

.banner span {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
}

span img {
  aspect-ratio: auto 53 / 30;
  border-radius: 5px;
  margin-right: 16px;
}

span .divider {
  border-left: 1px solid #dddddd;
  height: 30px;
  margin: 0 16px;
}

.banner div:hover {
  text-decoration: underline;
}

header .navbar {
  border: 1px solid #dddddd;
  height: 80px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar img {
  width: 102px;
  height: 32px;
}

.search-bar {
  width: 400px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 24px;
}

.search-buttons {
  box-shadow: 0 1px 2px rgba(0,0,0,0.08), 0 4px 12px rgba(0,0,0,0.05);
  transition: box-shadow 0.2s ease-in-out;
  display: flex;
  border: 1px solid #dddddd;
  border-radius: 40px;
  padding: 6px 8px;
  align-items: center;
}

.search-buttons:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 6px 16px rgba(0, 0, 0, 0.08);
}

.search-buttons div {
  padding: 0 16px;
  font-size: 14px;
  line-height: 20px;
}

.search-buttons div:first-child {
  padding-left: 9px 0;
}

.search-buttons .add-guests {
  color: rgb(113, 113, 113);
  font-weight: 400;
}

.search-buttons .anywhere, .any-week {
  font-weight: 800;
}

.search-buttons div:not(:first-child):not(:last-child) {
  border-left: 1px solid #dddddd;
}

.search-buttons .button {
  background-color: #ff395b;
  width: 32px;
  height: 32px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-buttons .button .icon {
  height: 12px;
  width: 12px;
  display: block;
  margin: auto;
  color: #f7f7f7;
}
