.section-padding {
    padding: 0 80px;
  }
  
.category-bar {
    padding-top: 16px;
    height: 97px;
  }
  
.category-bar .category-scroll span {
    padding: 16px 0;
  }
  
.category-bar .category-scroll span img {
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto;
  }
  
.category-bar .category-scroll .category-label {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    height: 16px;
    line-height: 16px;
  }
  
.category-bar .category-scroll span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 8px;
  }
  
.category-bar .filters-menu {
    height: 48px;
    width: 90px;
  }