.section-padding {
padding: 0 80px;
}

.category-bar {
padding-top: 16px;
height: 80px;
display: flex;
align-items: center;
justify-content: center;
}

.category-bar .category-scroll {
display: flex;
align-items: center; 
gap: 32px;
width: 1541px;
justify-content: space-between;
}

.category-bar .category-scroll .category-card {
padding: 4px 0;
margin: 12px 0 10px 0;
color: rgb(113, 113, 113);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
row-gap: 8px;
column-gap: 32px;
width: max-content;
position: relative;
}

.category-bar .category-scroll .category-card::after {
content: "";
position: absolute;
left: 0;
bottom: -11px;
width: 100%;
height: 2px;
background-color: transparent;
transition: background-color 0.2s ease;
}

.category-bar .category-scroll .category-card:hover::after {
background-color: #DDDDDD;
}

.category-bar .category-scroll .category-card:hover .category-icon {
filter: invert(54%) sepia(0%) saturate(0%) hue-rotate(271deg) brightness(10%) contrast(104%);
}

.category-bar .category-scroll .category-card:hover .category-label {
color: var(--primary-font-color);
}

.category-bar .category-scroll .category-card:first-child {
filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(30%) contrast(100%);
}

.category-bar .category-scroll .category-card:first-child::after {
content: "";
position: absolute;
left: 0;
bottom: -11px;
width: 100%;
height: 2px;
background-color: var(--primary-font-color);
transition: background-color 0.2s ease;
}

.category-bar .category-scroll .category-card .category-icon {
width: 24px;
height: 24px;
filter: invert(54%) sepia(0%) saturate(0%) hue-rotate(271deg) brightness(80%) contrast(104%);
}

.category-bar .category-scroll .category-card .category-label {
text-align: center;
font-size: 12px;
font-weight: 600;
line-height: 16px;
white-space: nowrap;
}

.category-bar .filters-menu {
height: 48px;
width: 90px;
border: 1px solid #dddddd;
border-radius: 12px;
padding: 16px;
display: flex;
align-items: center;
justify-content: center;
margin-left: 23px;
text-align: center;
font-size: 12px;
font-weight: 600;
line-height: 16px;
gap: 8px;
}

